// .about {
//     width: 100%;
//     height: 120vh;
//     background-color: rgb(211, 213, 215);
//     background-repeat: no-repeat;
//     background-size: cover;
//     z-index: -1;
//     overflow: hidden;

//     >.about-container {
//         width: 100%;
//         margin: 0 auto;
//         position: relative;

//         .about-row {
//             display: flex;
//             width: 100%;

//             .about-name-icons {
//                 display: flex;
//                 width: 70%;
//                 margin: 0 auto;

//                 .about-content {
//                     display: flex;
//                     flex-direction: column;
//                     justify-content: flex-start;
//                     width: 60%;
//                     margin: 0 auto;
//                     position: relative;
//                     top: 150px;
//                     gap: 20px;
//                     h1{
//                         color:rgb(31, 38, 58);
//                         font-size: 100px;
//                         text-shadow:  0px 0px 35px rgb(105, 107, 113) ;
//                         &:hover{
//                             color: rgb(96, 29, 29);
//                             text-shadow:  0px 0px 35px rgb(105, 107, 113) ;
//                             transition: all .5s;
                         
//                         }

//                     }
//                     p{
//                         color:rgb(31, 38, 58);
//                         font-size: 15px;
//                         text-align: justify;
//                         line-height: 25px;
//                         font-weight: 600;
//                         margin-top: 30px;
//                         &:hover{
//                             color: rgb(45, 49, 61);
//                             text-shadow:  0px 0px 35px rgb(105, 107, 113) ;
//                             transition: all .5s;
                         
//                         }
//                     }
//                     .intro{
//                         display: flex;
//                         width: 100%;
//                         height: 150px;
//                         justify-content: space-between;
//                         margin-top: 30px;
//                         padding: 15px;
//                         box-shadow:0px 0px 35px rgb(104, 105, 109) ;
//                         border-radius: 5px;
//                         // background-color: rgb(117, 105, 129);
//                         &:hover{
                           
//                             text-shadow: 0px 0px 35px rgb(78, 88, 128)  ;
//                             box-shadow:px 0px 55px rgb(59, 59, 62) ;
//                             transition: all .5s;
//                         }
                        
                
//                         .part1{

//                             display: flex;
//                             justify-content: space-between;
//                             margin: 5px;

//                             flex-direction: row;
                            
//                             >.flexiii{
//                                 display: flex;
//                                 flex-direction: column;
//                                 gap: 20px;
                           
//                                 >.icons{
//                                     font-size: 50px;
//                                     color: rgb(39, 24, 54);
//                                     text-align: center;
//                                     &:hover{
                           
                                      
//                                         transition: all .5s;
//                                         color: rgb(150, 19, 19);
//                                     }
//                                 }
//                                 h2{
//                                     font-size: 15px;
//                                     color:rgb(43, 39, 47);
//                                     margin-right: 20px;
                                   
//                                 }
//                             }




//                         }
//                     }
//                 }
//             }

//             .about-mypick1 {
//                 width: 50%;
//                 height: 80vh;
//                 margin: 0 auto;
//                 margin-top: 60px;
//                 >div{
//                     display: flex;
//                     justify-content: center;
//                     align-items: center;
                    

//                     img {
//                         margin-top: 30px;
//                         height: 750px;
//                     }
//                 }

            
//             }
//         }
//     }
// }

@mixin wdh {
    @media (max-width:450px) {
        @content;
    }
}
@mixin wdh1 {
    @media (max-width:350px) {
        @content;
    }
}

@mixin wdhh1 {
    @media (max-width:800px) {
        @content;
    }
}





.about{
   
    min-height: 100vh;
    
}

.hi-there{
    font-size: 60px;
    color: rgb(136, 10, 167);
    font-weight: 600;
    @include wdh {
        font-size: 35px;
    }
    @include wdh1 {
        font-size: 25px;
    }
    &:hover{
        color: rgb(245, 18, 177) !important;;
        transition: all .5s;
    }

}
.about-exp{
    color: rgb(48, 34, 42);
    text-align: justify;
    border-radius: 15px;
    @include wdh1 {
        font-size: 15px;
    }
    &:hover{
        color: rgb(84, 238, 179) !important;;
        transition: all .5s;
    }
}
.paraaaa{
    text-align: justify ;
    border-radius: 10px;
    padding: 5px;
    
    margin: 5px;
    @include wdh1 {
        height: 200px;
    }
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.element {

    background-color: rgb(107, 26, 170);
    color: floralwhite;
    border-radius: 10px;
    box-shadow: 0px -23px 25px 0px rgba(0,0,0,0.17) inset,
0px -36px 30px 0px rgba(0,0,0,0.15) inset,
0px -79px 40px 0px rgba(0,0,0,0.1) inset,
0px 2px 1px 0px rgba(216, 117, 117, 0.06),
0px 4px 2px 0px rgba(0,0,0,0.09),
0px 8px 4px 0px rgba(0,0,0,0.09),
0px 16px 8px 0px rgba(0,0,0,0.09);
  }