// .Banner {
//     width: 100%;
//     height: 140vh;
//     // background-image: url(../assets/name.png);
//     background-color: rgb(211, 213, 215);
//     background-repeat: no-repeat;
//     background-size: cover;
//     z-index: -1;
//     // overflow: hidden;

//     >.container {
//         width: 100%;
//         margin: 0 auto;
//         position: relative;
//         top: 80px;


//         .row {
//             display: flex;
//             width: 100%;

//             .mypick1 {
//                 >div {
//                     >img {
//                         height: 820px;


//                     }
//                 }

//             }

//             .name-icons {
//                 display: flex;
//                 width: 100%;
//                 margin-top: 80px;

//                 .content {
//                     display: flex;
//                     flex-direction: column;
//                     justify-content: flex-start;

//                     .content-icons {
//                         display: flex;
//                         flex-direction: column;




//                         .content-ul {
//                             display: flex;
//                             list-style: none;
//                             gap: 50px;


//                             li {
//                                 width: 30px;
//                                 height: 30px;
//                                 border: 2px solid rgb(114, 111, 111);
//                                 padding: 5px;
//                                 border-radius: 50%;
//                                 cursor: pointer;
//                                 text-shadow: 0px 0px 35px rgb(9, 52, 243);
//                                 box-shadow: 0px 0px 35px rgb(104, 105, 109);

//                                 &:hover {
//                                     color: rgb(9, 52, 243);
//                                     text-shadow: 0px 0px 35px rgb(9, 52, 243);
//                                     border: 2px solid rgb(9, 52, 243);
//                                     box-shadow: px 0px 35px rgb(78, 78, 80);
//                                     transition: all .5s;
//                                 }
//                             }

//                         }



//                     }

//                     .banner-about {

//                         margin-top: 100px;
//                         width: 100%;
//                         display: flex;
//                         flex-wrap: wrap;
//                         flex-direction: column;


//                         h1 {
//                             margin-top: 20px;
//                             font-weight: 800;
//                             font-size: 75px;
//                             line-height: 100px;
//                             color: rgb(31, 38, 58);
//                             text-shadow: 0px 0px 35px rgb(105, 107, 113);

//                             &:hover {
//                                 &:hover {
//                                     color: rgb(31, 38, 58);
//                                     text-shadow: 0px 0px 35px rgb(31, 38, 58);
//                                     transition: all .5s;

//                                 }

//                             }

//                             // font-family: 'Caveat', cursive;
//                         }

//                         p {
//                             font-size: 15px;
//                             line-height: 30px;

//                             color: rgb(31, 38, 58);
//                             text-shadow: 0px 0px 35px rgb(105, 107, 113);

//                             &:hover {
//                                 color: rgb(36, 37, 40);
//                                 text-shadow: 0px 0px 35px rgb(75, 76, 76);
//                                 transition: all .5s;

//                             }
//                         }

//                         button {
//                             margin-top: 15px;
//                             background-color: rgb(31, 38, 58);
//                             color: white;
//                             padding: 10px;
//                             border-radius: 15px;
//                             width: 130px;
//                             height: 45px;
//                             border: none;
//                             outline: none;
//                             font-weight: 600;
//                             cursor: pointer;

//                             &:hover {

//                                 text-shadow: 0px 0px 35px rgb(20, 58, 230);
//                                 transition: all .5s;
//                                 background-color: rgb(91, 125, 219);

//                             }
//                         }
//                     }


//                 }

//             }
//         }
//     }

// }


@mixin pc1 {
    @media (max-width:1260px) {
        @content;
    }
}
@mixin pc2 {
    @media (max-width:1160px) {
        @content;
    }
}
@mixin pc3 {
    @media (max-width:1060px) {
        @content;
    }
}
@mixin pc4 {
    @media (max-width:960px) {
        @content;
    }
}
@mixin pc5 {
    @media (max-width:860px) {
        @content;
    }
}

.icon {

    text-align: center;
    list-style: none;
    color: #e3e1e7 ;
    font-size: 25px;
  
   

    &:hover {
        color: rgb(235, 237, 244);
        text-shadow: 0px 0px 35px rgb(31, 38, 58);
        transition: all .5s;

    }
    a{
        color: rgb(125, 110, 198)!important;

    }
  
}



h1 {
    margin-top: 20px!important;
    font-weight: 700!important;
    font-size: 80px !important;
    line-height: 210px!important;
    word-spacing:15px !important;
    line-height: 90px !important;
    color: rgb(31, 38, 58)!important;
    text-shadow: 0px 0px 35px rgb(105, 107, 113)!important;
    @include pc1 {
        font-size: 80px !important;
    }
    @include pc2 {
        font-size: 70px !important;
        line-height: 80px !important;
    }
    @include pc3 {
        font-size: 60px !important;
        line-height: 70px !important;
    }
    @include pc4 {
        font-size: 60px !important;
        line-height: 60px !important;
    }
    @include pc5 {
        font-size: 50px !important;
        line-height: 50px !important;
    }

    &:hover {
        &:hover {
            color: rgb(31, 38, 58);
            text-shadow: 0px 0px 35px rgb(31, 38, 58);
            transition: all .5s;

        }

    }

    
}



