.css {
    width: 80%;
    height: 40px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.sass {
    width: 70%;
    height: 40px;
    background-color: rgb(188, 241, 97);
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.javascript {
    width: 75%;
    height: 40px;
    background-color: rgb(59, 56, 62);
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.html {
    width: 85%;
    height: 40px;
    background-color: rgb(224, 113, 150);
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.react {
    width: 72%;
    height: 40px;
    background-color: rgb(251, 79, 16);
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.mui {
    width: 73%;
    height: 40px;
    background-color: rgb(91, 164, 178);
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.bootstrap {
    width: 78%;
    height: 40px;
    background-color: rgb(98, 16, 73);
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.github {
    width: 68%;
    height: 40px;
    background-color: rgb(46, 6, 84);
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}
.fireBase {
    width: 65%;
    height: 40px;
    background-color: rgb(102, 44, 156);
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}
.mySkills{
    font-size: 40px;
    font-weight: 900;
}
.piegrapf{
    height: 400px;
}